.list {
    background-color: #f4f4f4;
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-title {
    font-size: 16px;
    margin-bottom: 10px;
}